body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 0 10px #4d4d4d;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    box-shadow: 0 0 10px #444;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    z-index: 1;
}

.gradientText {
    margin: 0;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 5px 0;
}

.audio-player {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

#playPauseBtn {
    background-color: #4DB6AC;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#playPauseBtn:focus {
    outline: none;
}

.time {
    font-size: 14px;
    color: #fff;
}

.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(12px);
}

.animated-text {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    position: relative;
    white-space: nowrap;
}

.js--text-cont1, .js--text-cont2 {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .controls {
        width: 200px;
    }

    #playPauseBtn {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .time {
        font-size: 12px;
    }

    .animated-text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .controls {
        width: 150px;
    }

    #playPauseBtn {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }

    .time {
        font-size: 10px;
    }

    .animated-text {
        font-size: 16px;
    }
}